name: Validate Brewfiles
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "custom/brew/**"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v5

      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@1ccc07ccd54b6048295516a3eb89b192c35057dc # master

      - name: Build galena
        shell: bash
        run: go build -o galena ./cmd/galena

      - name: Validate Brewfiles
        shell: bash
        run: ./galena validate --only brew
