name: Validate Flatpaks
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "custom/flatpak/**"
      - "custom/flatpaks/**"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v5

      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Set up Flathub
        shell: bash
        run: |
          sudo apt install -y flatpak
          flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

      - name: Build galena
        shell: bash
        run: go build -o galena ./cmd/galena

      - name: Validate Flatpaks
        shell: bash
        run: ./galena validate --only flatpak
